/*======== FIXES =======*/

/* change box sizing model to force width and height measure to include padding and border (learn more at: http://paulirish.com/2012/box-sizing-border-box-ftw/ and at: http://html5please.com/ ) Note: breaks min-height, max-height in Firefox. */

* { 
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* clear class prevents parents with floating children from collapsing */

.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*======= LAYOUT =======*/

html {
	top:0;
	height: 100%;
	text-align:center;
	margin:0 auto;
	padding:0;
	overflow:scroll;
}

body {
	top:0;
	height: 100%;
	width:100%;
	margin: 0 auto;
	padding:0;
	text-align:left; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.5em;
}

header {
	padding: 2px;
}

footer { 
	text-align:center;
	left:0;
	font-family:Helvetica, Arial sans-serif; 
	font-size:10px; 
	font-weight:bold; 
	margin-top:15px;
}

#globalwrapper {
	width: 920px; 
	margin: 20px auto 0 auto; 
	position: relative; 
}

#content {
	width: 100%;
	background:#fff;
}
	
/*========== NAV ==========*/	

.global-nav{
	height: 120px;
	position:relative;
}

.global-nav ul li{
	float:left;
	padding-right:110px;
	margin-top:45px;
	text-indent: -9999px;
}
.global-nav ul li.homepage{
	margin-top:0px;
	width:50px;
	margin-right:75px;
}

.global-nav ul li.homepage a{
	display: block;
	width:50px;
	height:100px;
	text-indent: 0px;	
}

.global-nav ul li.about a{
	background-image:url("../images/nav_about.jpg");
	display: block;
	width:61px;
	height:21px;	
}

.global-nav ul li.about a:hover{
	background-image:url("../images/nav_about.jpg");
	background-position: 0 21px;
}

.global-nav ul li.products a{
	background-image:url("../images/nav_products.jpg");
	display: block;
	width:98px;
	height:21px;	
}

.global-nav ul li.products a:hover{
	background-image:url("../images/nav_products.jpg");
	background-position: 0 21px;
}

.global-nav ul li.photos a{
	background-image:url("../images/nav_photos.jpg");
	display: block;
	width:72px;
	height:21px;	
}

.global-nav ul li.photos a:hover{
	background-image:url("../images/nav_photos.jpg");
	background-position: 0 21px;
}

.global-nav ul li.contact{
	padding-right:0px;
}

.global-nav ul li.contact a{
	background-image:url("../images/nav_contactus.jpg");
	display: block;
	width:112px;
	height:21px;	
}

.global-nav ul li.contact a:hover{
	background-image:url("../images/nav_contactus.jpg");
	background-position: 0 21px;
}


/*========== Zen Dog Home Page ==========*/

article {
	padding: 5px;
}

#banner {
    margin:5px auto 0 auto;
    width:600px;
}

#info {
	width:67%;
	float:left;	
	padding:10px;
	border-right: 1px solid #0c6ca7;
}	

#social {
	width:33%;
	float:left;
	padding:10px;
}

/*========== Zen Dog About Us Page ==========*/

#bio1 {
	width:50%;
	float:left;	
	padding:10px;
	text-align:left;
}	

#bio2 {
	width:50%;
	float:left;
	padding:10px;
	border-left: 1px solid black;
	text-align:left;
}

img[alt="Bios"] {
	border-radius: 10px;
	box-shadow: 5px 7px 10px #999;
	margin: 0 15px 5px 10px;
	float: left; 
}

/*========== Zen Dog Photos Page ==========*/

.dogs1 {
	background:#fff;
	width:33%;
	float:left;	
	padding:10px;
	font-style: italic;
}

.dogs2 {
	background:#fff;
	width:34%;
	float:left;	
	padding:10px;
	font-style: italic;
}

.dogs3 {
	background:#fff;
	width:33%;
	float:left;	
	padding:10px;
	font-style: italic;
}

/*========== Zen Dog Contact Us Page ==========*/


#contact {
	width:33%;
	float:left;
	padding:10px;
	margin-top: 100px;
}

#image {
	width:34%;
	float:left;	
	padding:10px;
	border-left: 1px solid #0c6ca7;
	border-right: 1px solid #0c6ca7;
	text-align: center;
}	

#socialus {
	width:33%;
	float:left;
	padding:10px;
	margin-top: 65px;
}

/*========== GLOBAL STYLES ==========*/

a { 
	color:#0c6ca7; 
	text-decoration:none; 
	font-family: Helvetica, Arial sans-serif;
}

a:hover{
	color:#0c6ca7;
	text-decoration:none;
}

p { 
	margin: 0 0 15px 0;
	letter-spacing: 1px;
	font-size: 14px/16px; 
	font-family: Helvetica, Arial, Sans-serif;
	font-weight: bold;
}


img[alt="Dogs"] {
	border-radius: 10px;
	box-shadow: 5px 7px 10px #999;
	margin: 0 0 20px 10px
}

/*========== GLOBAL STYLES 2 ==========*/

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p { 
	margin-top: -0.05em;
	font-family: Helvetica, Arial, Sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
	color: #0c6ca7; 
	margin-bottom: 0.5em;
	font-family: Helvetica, Arial, Sans-serif;
}

h1{ 
	font-size:22px;
}

ol, ul{	margin: 1em 0 1em 2em; }

ol ol, ol ul, ul ol, ul ul{ margin-top:0; margin-bottom:0; }

ol li{	list-style:decimal }
ol li ol li{ list-style:upper-alpha; }
ol li ol li ol li{ list-style:upper-roman; }

em{font-style:italic;}

strong{font-weight:bold;}

em strong, strong em{ font-weight:bold; font-style:italic; }
